html{
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    font-size: 16px;
    padding: 10px;
    background-image: url(./currency-background.jpg);
}

.container{
    width: 1000px;
    max-width: 100%;
    margin: 150px auto;
    padding: 30px;
    background-color: rgb(197, 196, 196) ;
    border-radius:20px;
}